.\#*
*~
*.apk
bin
gen
local.properties
build.properties
.classpath
src/com/danga/squeezer/IServiceCallback.java
src/com/danga/squeezer/ISqueezeService.java
src/com/danga/squeezer/R.java
/ant.properties
