.\#*
*~
*.apk
bin
gen
.classpath
local.properties
build.properties
src/com/danga/squeezer/IServiceCallback.java
src/com/danga/squeezer/ISqueezeService.java
src/com/danga/squeezer/R.java
/ant.properties
