<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.danga.squeezer"
      android:versionCode="5" android:versionName="0.5">
      
<uses-sdk android:minSdkVersion="7" />
    
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.WRITE_SETTINGS" />
<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="android.permission.VIBRATE" />
      
    <application android:icon="@drawable/logo" android:label="@string/app_name">
        <activity android:name=".SqueezerActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".SettingsActivity" android:label="@string/activity_settings_name" />
        <activity android:name=".SqueezerSearchActivity" android:label="@string/app_name" />
        <activity android:name=".SqueezerHomeActivity" android:label="@string/app_name" />
        <activity android:name=".SqueezerMusicActivity" android:label="@string/app_name" />
        <activity android:name=".SqueezerRandomplayActivity" android:label="@string/app_name" />
        <activity android:name=".itemlists.SqueezerPlayerListActivity" android:label="@string/app_name" />
        <activity android:name=".itemlists.SqueezerArtistListActivity" android:label="@string/app_name" />
        <activity android:name=".itemlists.SqueezerAlbumListActivity" android:label="@string/app_name" />
        <activity android:name=".itemlists.SqueezerYearListActivity" android:label="@string/app_name" />
        <activity android:name=".itemlists.SqueezerGenreListActivity" android:label="@string/app_name" />
        <activity android:name=".itemlists.SqueezerSongListActivity" android:label="@string/app_name" />
        <activity android:name=".itemlists.SqueezerCurrentPlaylistActivity" android:label="@string/app_name" />
        <activity android:name=".itemlists.SqueezerPlaylistsActivity" android:label="@string/app_name" />
        <activity android:name=".itemlists.SqueezerPlaylistSongsActivity" android:label="@string/app_name" />
        <activity android:name=".itemlists.SqueezerRadioListActivity" android:label="@string/app_name" />
        <activity android:name=".itemlists.SqueezerApplicationListActivity" android:label="@string/app_name" />
        <activity android:name=".itemlists.SqueezerPluginItemListActivity" android:label="@string/app_name" />
        
        <service android:exported="false" android:label="Squeezer Service"
                android:name=".service.SqueezeService">
        </service>
        
    </application>
    
</manifest> 
