<?xml version="1.0" encoding="utf-8"?>

<!--
   Copyright (C) 2009 Google Inc.  All Rights Reserved.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.org.ngo.squeezer">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:name=".Squeezer"
        android:usesCleartextTraffic="true"
        android:allowBackup="true">

        <!-- Newer Android versions no longer include the Apache HTTP library -->
        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <activity android:name=".itemlist.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".itemlist.HomeMenuActivity"
            android:label="@string/app_name"
            android:parentActivityName=".itemlist.HomeActivity">
        </activity>

        <activity
            android:name=".NowPlayingActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:parentActivityName=".itemlist.HomeActivity">
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/activity_settings_name"
            android:parentActivityName=".itemlist.HomeActivity">
        </activity>

        <activity
            android:name=".ConnectActivity"
            android:label="@string/disconnected_text"
            android:parentActivityName=".itemlist.HomeActivity">
        </activity>

        <activity
            android:name=".itemlist.PlayerListActivity"
            android:label="@string/app_name"
            android:parentActivityName=".itemlist.HomeActivity">
        </activity>

        <activity
            android:name=".itemlist.AlarmsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".itemlist.HomeActivity">
        </activity>

        <activity
            android:name=".itemlist.CurrentPlaylistActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:parentActivityName=".NowPlayingActivity">
        </activity>

        <activity
            android:name=".itemlist.PluginListActivity"
            android:label="@string/app_name"
            android:parentActivityName=".itemlist.HomeActivity">
        </activity>

        <service android:exported="false" android:label="Squeezer Service"
            android:name=".service.SqueezeService">
        </service>
    </application>
</manifest>
