<?xml version="1.0" encoding="utf-8"?>

<!--
   Copyright (C) 2009 Google Inc.  All Rights Reserved.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.org.ngo.squeezer"
    android:versionCode="13" android:versionName="0.9.1">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:name=".Squeezer"
        android:allowBackup="true">

        <!-- enable the search dialog to send searches to SearchActivity -->
        <meta-data android:name="android.app.default_searchable"
            android:value=".SearchActivity"/>

        <activity android:name=".HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".NowPlayingActivity" android:label="@string/app_name"/>
        <activity android:name=".SettingsActivity" android:label="@string/activity_settings_name"/>
        <activity android:name=".DisconnectedActivity" android:label="Disconnected"/>

        <activity android:name=".SearchActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity android:name=".RandomplayActivity" android:label="@string/app_name"/>
        <activity android:name=".itemlist.PlayerListActivity" android:label="@string/app_name"/>
        <activity android:name=".itemlist.AlarmsActivity" android:label="@string/app_name"/>
        <activity android:name=".itemlist.ArtistListActivity" android:label="@string/app_name"/>
        <activity android:name=".itemlist.AlbumListActivity" android:label="@string/app_name"/>
        <activity android:name=".itemlist.YearListActivity" android:label="@string/app_name"/>
        <activity android:name=".itemlist.GenreListActivity" android:label="@string/app_name"/>
        <activity android:name=".itemlist.MusicFolderListActivity"
            android:label="@string/app_name"/>
        <activity android:name=".itemlist.SongListActivity" android:label="@string/app_name"/>
        <activity android:name=".itemlist.CurrentPlaylistActivity"
            android:label="@string/app_name"/>
        <activity android:name=".itemlist.PlaylistsActivity" android:label="@string/app_name"/>
        <activity android:name=".itemlist.PlaylistSongsActivity" android:label="@string/app_name"/>
        <activity android:name=".itemlist.RadioListActivity" android:label="@string/app_name"/>
        <activity android:name=".itemlist.ApplicationListActivity"
            android:label="@string/app_name"/>
        <activity android:name=".itemlist.PluginItemListActivity"
            android:label="@string/app_name"/>
        <activity android:name=".itemlist.FavoriteListActivity" android:label="@string/app_name"/>

        <activity android:name=".service.CancelDownloadsActivity" android:theme="@android:style/Theme.Dialog" />

        <service android:exported="false" android:label="Squeezer Service"
            android:name=".service.SqueezeService">
        </service>

        <receiver
            android:name=".service.DownloadStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

        <!-- Used for install referrer tracking -->
        <receiver android:name="com.google.android.apps.analytics.AnalyticsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="564923eeae7942c2822447dec7527419e8e62e51"/>
    </application>
</manifest>
